:root {
  --alley-color-text: rgba(0, 0, 0, 0.88);
  --alley-color-text-heading: rgba(0, 0, 0, 0.88);

  --alley-color-success: #52c41a;
  --alley-color-success-bg: #f6ffed;
  --alley-color-success-border: #b7eb8f;

  --alley-color-info: #1677ff;
  --alley-color-info-bg: #e6f4ff;
  --alley-color-info-border: #91caff;

  --alley-color-warning: #faad14;
  --alley-color-warning-bg: #fffbe6;
  --alley-color-warning-border: #ffe58f;

  --alley-color-error: #ff4d4f;
  --alley-color-error-bg: #fff2f0;
  --alley-color-error-border: #ffccc7;

  --alley-font-size: 14px;
  --alley-font-size-icon: 12px;

  --alley-border-radius-lg: 8px;

  --alley-line-width: 1px;
  --alley-line-type: solid;
  --alley-line-height: 1.5714285714285714;

  --alley-margin-xs: 8px;
}
