#root {
  // height: 100vh;
  // width: 100vw;
  text-align: center;
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem;

  .dark-switch {
    position: absolute;
    right: 0;
    top: 0;
  }
}

#index {
  flex: 1;
  height: 100%;
  box-sizing: border-box;

  .alley-button.fill {
    width: 100%;
  }

  label {
    font-size: 0.8rem;
    color: var(--color-text-description);
    margin-right: 8px;
  }
}

#download,
#checking {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-mask);
}

#checking {
  flex-direction: column;
}
